<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>My Blog</title>
</head>
<body>
    <div class="page">
        <nav class="navbar">
            <div class="blogname">
                <h1>ReTRO's BLOG </h1>
            </div>
            <div class="container">
                <div class="navleft" id="navitem"><a href="/">Home</a></div>
                <div class="navleft" id="navitem"><a href="/about">About</a></div>
                <div class="navleft" id="navitem"><a href="/contact">Contact</a></div>
            </div>
        </nav>
    <div class="content">