<%- include("partials/header");-%>
    <div class="blogg">
        <div class="bloggtitle">
            <h1>About</h1>
        </div>
        <hr>
        <div class="bloggcontent">
            <%= aboutCont %>
        </div>

    </div>
<%- include("partials/footer"); -%>