<%- include("partials/header");-%>
    <div class="blogg">
        <div class="bloggtitle">
            <h1>Contact</h1>
        </div>
        <hr>
        <div class="bloggcontent">
            <%= contactCont %>
        </div>

    </div>
<%- include("partials/footer"); -%>